@charset "UTF-8";
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 1.5;
}
body ol, body ul {
  list-style: none;
}
body .title {
  margin-top: 80px;
  margin-bottom: 30px;
}
body h2 {
  text-align: center;
  font-size: 35px;
}
body a {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}
body a:hover {
  color: #198d19;
  transition: 0.3s;
}
body .animated {
  opacity: 0;
}
body header {
  width: 100%;
  height: 500px;
}
body header #main-top {
  width: 100%;
}
body header #main-top #main-image {
  width: 100%;
  height: 500px;
  background-image: url("../image/main_kv.jpg");
  background-size: cover;
}
body header #main-top #main-image .nav_bg {
  width: 100%;
  height: 50px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 100;
  display: flex;
  justify-content: center;
  position: fixed;
}
body header #main-top #main-image .nav_bg nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper {
  width: 100%;
  padding: 10px;
  position: fixed;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper a {
  font-size: 120%;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper .navbar-brand {
  margin-left: 10px;
  font-size: 120%;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #pc_nav_bar ul.pc_nav_list {
  display: flex;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #pc_nav_bar ul.pc_nav_list li {
  margin-right: 20px;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #pc_nav_bar ul.pc_nav_list li a.active {
  color: #198d19;
  text-decoration: underline;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #pc_nav_bar ul.pc_nav_list li a:hover {
  text-decoration: underline;
  transition: 0.5s;
}
@media (max-width: 670px) {
  body header #main-top #main-image .nav_bg nav.nav_wrapper #pc_nav_bar {
    display: none;
  }
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #sp_nav_bar .sp_menu_btn {
  position: absolute;
  top: 5px;
  right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #sp_nav_bar .sp_menu_btn button {
  border: none;
  cursor: pointer;
  background-color: #fff;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #sp_nav_bar ul.sp_nav_list {
  display: none;
  margin-top: 10px;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #sp_nav_bar ul.sp_nav_list li a {
  display: block;
  padding: 17px 25px;
  background: #198d19;
  color: #fff;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #sp_nav_bar ul.sp_nav_list li a.active {
  text-decoration: underline;
}
body header #main-top #main-image .nav_bg nav.nav_wrapper #sp_nav_bar ul.sp_nav_list li a:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition: 0.5s;
}
@media (min-width: 670px) {
  body header #main-top #main-image .nav_bg nav.nav_wrapper #sp_nav_bar {
    display: none;
  }
}
@media (max-width: 670px) {
  body header #main-top #main-image nav.nav_wrapper {
    display: block;
    justify-content: flex-start;
  }
  body header #main-top #main-image nav.nav_wrapper #sp_nav_bar ul.sp_nav_list li {
    border-bottom: 1px solid #03631b;
  }
}
body header #main-top #main-image #title_wrapper {
  width: 100%;
}
body header #main-top #main-image #title_wrapper .main_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
}
body header #main-top #main-image #title_wrapper .main_title h1 {
  font-size: 45px;
  color: #333;
}
@media (max-width: 370px) {
  body header #main-top #main-image #title_wrapper .main_title h1 {
    font-size: 230%;
  }
}
body #wrapper {
  width: 100%;
}
body #wrapper .main-width {
  width: 100%;
  margin: 0 auto;
}
body #wrapper .main-width .container #about .main-width {
  max-width: 1200px;
}
body #wrapper .main-width .container #about .main-width .container_flex {
  display: flex;
  justify-content: center;
}
@media (max-width: 670px) {
  body #wrapper .main-width .container #about .main-width .container_flex {
    display: block;
  }
}
body #wrapper .main-width .container #about .main-width .container_flex .about_left {
  margin-right: 20px;
}
@media (max-width: 670px) {
  body #wrapper .main-width .container #about .main-width .container_flex .about_left {
    margin: 0;
  }
}
@media (max-width: 670px) {
  body #wrapper .main-width .container #about .main-width .container_flex .about_left .about_item .masato_photo {
    text-align: center;
  }
}
body #wrapper .main-width .container #about .main-width .container_flex .about_left .about_item .masato_photo img {
  border-radius: 5px;
}
@media (max-width: 670px) {
  body #wrapper .main-width .container #about .main-width .container_flex .about_left .about_item .twitter {
    text-align: center;
  }
}
body #wrapper .main-width .container #about .main-width .container_flex .about_left .about_item .twitter a {
  color: #31b4f8;
}
body #wrapper .main-width .container #about .main-width .container_flex .about_left .about_item .twitter a:hover {
  color: #198d19;
}
body #wrapper .main-width .container #about .main-width .container_flex .about_right {
  margin-left: 20px;
  line-height: 2;
}
@media (max-width: 670px) {
  body #wrapper .main-width .container #about .main-width .container_flex .about_right {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
body #wrapper .main-width .container #about .main-width .container_flex .about_right .about_item h3 {
  font-size: 18px;
}
body #wrapper .main-width .container #about .main-width .container_flex .about_right .about_item .btn {
  margin-top: 10px;
}
body #wrapper .main-width .container #about .main-width .container_flex .about_right .about_item .btn a {
  padding: 10px 20px;
  background-color: #198d19;
  border-radius: 5px;
  color: #fff;
}
body #wrapper .main-width .container #about .main-width .container_flex .about_right .about_item .btn a:hover {
  background-color: #00a539;
}
body #wrapper #skills {
  width: 100%;
  height: auto;
  margin-top: 80px;
}
body #wrapper #skills .green_bk {
  width: 100%;
  background-color: #e3ffe8;
}
body #wrapper #skills .green_bk .main-width {
  max-width: 1200px;
  padding-bottom: 80px;
}
body #wrapper #skills .green_bk .main-width .title h2 {
  padding-top: 80px;
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
@media (max-width: 768px) {
  body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item {
    display: block;
  }
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item .skills-text {
  width: 50%;
}
@media (max-width: 768px) {
  body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item .skills-text {
    width: 100%;
    margin: 0;
    padding-top: 20px;
  }
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item .skills-text h3 {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item .skills-text p {
  margin: 20px;
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item .skills-img {
  width: 50%;
  height: auto;
  margin-bottom: -6px;
}
@media (max-width: 768px) {
  body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item .skills-img {
    width: 100%;
  }
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item .skills-img img {
  width: 100%;
}
@media (max-width: 768px) {
  body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item .skills-img img {
    margin-bottom: -5px;
  }
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  background-color: #fff;
}
@media (max-width: 768px) {
  body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
  }
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 .skills-text {
  background-color: #fff;
  width: 50%;
}
@media (max-width: 768px) {
  body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 .skills-text {
    width: 100%;
    padding-top: 20px;
    margin: 0;
  }
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 .skills-text h3 {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 .skills-text p {
  margin-left: 20px;
}
@media (max-width: 768px) {
  body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 .skills-text p {
    margin: 20px;
  }
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 .skills-img {
  width: 50%;
  height: auto;
  margin-bottom: -6px;
}
@media (max-width: 768px) {
  body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 .skills-img {
    width: 100%;
  }
}
body #wrapper #skills .green_bk .main-width #skills_cont .skills_inner .skills-item2 .skills-img img {
  width: 100%;
}
body #wrapper #works {
  width: 100%;
  margin-bottom: 80px;
}
body #wrapper #works .main-width {
  max-width: 1200px;
  width: 100%;
}
body #wrapper #works .main-width .works-list .works-inner .works-flex ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  body #wrapper #works .main-width .works-list .works-inner .works-flex ul {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 670px) {
  body #wrapper #works .main-width .works-list .works-inner .works-flex ul {
    display: block;
  }
}
body #wrapper #works .main-width .works-list .works-inner .works-flex ul li {
  text-align: center;
  margin: 10px;
}
body #wrapper #works .main-width .works-list .works-inner .works-flex ul li a:hover {
  opacity: 0.8;
  transition: 0.5s;
}
@media (max-width: 670px) {
  body #wrapper #works .main-width .works-list .works-inner .works-flex ul li a img {
    width: 60%;
  }
}
body #wrapper #works .main-width .works-list .works-inner .works-flex ul li p {
  margin-bottom: 20px;
  text-align: center;
}
body #wrapper #contact {
  width: 100%;
}
body #wrapper #contact .contact-bk {
  width: 100%;
  background-image: url("../image/contact.jpg");
}
body #wrapper #contact .contact-bk .main-width {
  max-width: 1200px;
}
body #wrapper #contact .contact-bk .main-width .title h2 {
  padding-top: 80px;
}
body #wrapper #contact .contact-bk .main-width .form .form-inner form .form-input {
  margin-top: 10px;
  text-align: center;
}
body #wrapper #contact .contact-bk .main-width .form .form-inner form .form-input input {
  border-radius: 5px;
  border: none;
  padding: 10px 90px 10px 10px;
}
body #wrapper #contact .contact-bk .main-width .form .form-inner form .form-input textarea {
  border-radius: 5px;
  border: none;
  padding: 0 10px;
}
body #wrapper #contact .contact-bk .main-width .form .form-inner form .form-btn {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 80px;
}
body #wrapper #contact .contact-bk .main-width .form .form-inner form .form-btn button {
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}
body #wrapper #contact .contact-bk .main-width .form .form-inner form .form-btn button:hover {
  background-color: #198d19;
  color: #fff;
  transition: 0.3s;
}
body #wrapper footer {
  width: 100%;
}
body #wrapper footer #footer-wrap {
  margin-top: 20px;
}
@media (max-width: 530px) {
  body #wrapper footer #footer-wrap {
    margin-top: 0;
  }
}
@media (max-width: 530px) {
  body #wrapper footer #footer-wrap nav {
    display: none;
  }
}
body #wrapper footer #footer-wrap nav ul {
  display: flex;
  justify-content: center;
}
body #wrapper footer #footer-wrap nav ul li {
  margin-right: 20px;
}
body #wrapper footer #footer-wrap nav ul li a.active {
  color: #198d19;
}
body #wrapper footer #footer-wrap p {
  background-color: #e3ffe8;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}
@media (max-width: 530px) {
  body #wrapper footer #footer-wrap p {
    margin-top: 0;
  }
}
body #wrapper .back-btn {
  position: fixed;
  bottom: 0;
  right: 20px;
  bottom: 10px;
  width: 50px;
}
body #wrapper .back-btn a {
  font-size: 35px;
  padding: 10px;
  background-color: #cdddcd;
  opacity: 0.6;
  border-radius: 5px;
}
body #wrapper .back-btn a:hover {
  opacity: 1;
}
body #wrapper #sp_menu {
  position: fixed;
  top: 10px;
  left: 10px;
}
@media (min-width: 670px) {
  body #wrapper #sp_menu {
    display: none;
  }
}
body #wrapper #sp_menu .sp_menu_box {
  width: 300px;
}
body #wrapper #sp_menu .sp_menu_box .sp_menu_btn {
  width: 50px;
  z-index: 10000;
}
body #wrapper #sp_menu #sp_menu_area #sp_gnavi ul {
  display: none;
}
body #wrapper #sp_menu #sp_menu_area #sp_gnavi ul li a {
  font-size: 24px;
}
body #wrapper #sp_menu #sp_menu_area #sp_gnavi ul li aactive {
  color: #198d19;
}