@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}

.animated {
	opacity: 0;
}


/*---------------------------*/
/* メイン画像 */
/* -------------------------- */


#main-top {
	background-image: url("image/portfolio.main.jpg");
	background-size: cover;
	width: 100%;
	height: 700px;
}

#main-image {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1000px) {
	#main-top {
		height: 500px;
	}
}

@media screen and (max-width: 800px) {
	#main-top {
		height: 400px;
	}
}

@media screen and (max-width: 650px) {
	#main-top {
		height: 300px;
	}
}

/* -------------------------- */
/* メイン画像終わり */
/* -------------------------- */


/* -------------------------- */
/* header　始まり */
/* -------------------------- */


header .bg-light {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: rgb(128, 77, 77);
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(128, 77, 77);
}

/* ハンバーガーボタン */

/* ボーダーを消す */
.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0); 
}

/* 青色の外側の枠を消す */
button.navbar-toggler:focus{
  outline:none;
}


/* -------------------------- */
/* header 終わり */
/* -------------------------- */


#container {
	width: 100%;
}

@media screen and (max-width: 650px) {
	#container {
		margin: 0 auto;
		text-align: center;
	}
}


/* -------------------------- */
/* About Me　始まり */
/* -------------------------- */


h2 {
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
}

#about {
	display: flex;
	justify-content: center;
	margin-left: 50px;
}

@media screen and (max-width: 800px) {
	#about {
		display: block;
		margin: 0 auto;
	}
}

.left img {
	margin-top: 15px;
	width: 140px;
	height: 180px;
}

.left-icon {
	color: skyblue;
}

.right {
	text-align: center;
	margin-left: 0;
}

.right ul {
	margin: 30px 0;
}

.right ul li {
	margin-bottom: 20px;
}

.right-taitl {
	font-weight: 800;
}

.left {
	text-align: center;
}

@media screen and (max-width: 650px) {
	.right {
		width: 90%;
		margin: 0 auto;
	}

	.btn {
		font-size: 12px;
	}
}


/* -------------------------- */
/* About Me　終わり */
/* -------------------------- */


/* -------------------------- */
/* Skills　始まり */
/* -------------------------- */


#skills {
	background-image: url("image/background.image.pc.png");
	background-size: cover;
	width: 100%;
	height: 600px;
	margin-top: 30px;
}

@media screen and (max-width: 800px) {
	#skills {
		width: 100%;
		height: 500px;
	}
}

#skills-image {
	width: 100%;
	height: 100%;
}

#skills-item p {
	font-size: 18px;
	font-weight: 600;
	margin: 40px 0 20px 30px;
}

#skills-item img {
	width: 85%;
	margin-left: 30px;
}

@media screen and (max-width: 650px) {
	#skills-item p {
		margin: 40px 0 20px 0;
	}

	#skills-item img {
		margin-left: 0;
	}
}


/* -------------------------- */
/* Skills　終わり */
/* -------------------------- */


/* -------------------------- */
/* Works　始まり */
/* -------------------------- */


#works ul {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 50px;
}

#works img {
	width: 90%;
	border: 1px solid black;
}

#works p {
	text-align: center;
}

@media screen and (max-width: 950px) {
	#works img {
		width: 90%;
	}
}

@media screen and (max-width: 800px) {
	#works img {
		width: 85%;
	}

	#works ul li {
		text-align: center;
	}
}

@media screen and (max-width: 650px) {
	#works ul {
		display: block;
		margin-bottom: 0;
	}
	
	#works p {
		margin-bottom: 40px;
	}
}

/* -------------------------- */
/* Works 終わり */
/* -------------------------- */


/* -------------------------- */
/* Contact　始まり */
/* -------------------------- */


#contact {
	background-image: url("image/contact.image.png");
	width: 100%;
	height: 600px;
	text-align: center;
}

#contact h2 {
	margin-bottom: 40px;
}

form input, textarea, .btn-info {
	display: block;
	margin: 20px auto;
}

input {
	font-size: 18px;
	width: 350px;
	border: none;
	padding: 12px 20px;
	border-radius: 5px;
}

textarea {
	font-size: 18px;
	width: 350px;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
}

.btn-info {
	background-color: rgb(47, 136, 54);
	color: white;
	font-size: 18px;
	width: 100px;
	height: 50px;
	border-radius: 5px;
}

.btn-info:hover {
	background-color: rgb(1, 95, 1);
}

@media screen and (max-width: 650px) {
	input, textarea {
		width: 80%;
	}
}


/* -------------------------- */
/* Contact 終わり */
/* -------------------------- */


/* -------------------------- */
/* footer 始まり */
/* -------------------------- */


#footer-wrap {
	text-align: center;
}

#footer-wrap ul {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

#footer-wrap ul li {
	margin-right: 40px;
}

@media screen and (max-width: 650px) {
	#footer-wrap ul {
		display: block;
	}

	#footer-wrap ul li {
		margin-right: 0;
	}
}

#footer-wrap ul li:last-child {
	margin-right: 0;
}

#footer-wrap ul li a {
	text-decoration: none;
	color: black;
}

#footer-wrap ul li a:hover {
	color: brown;
}

#footer-wrap .active {
	color: brown;
}

#footer-wrap p {
	background-color: rgb(238, 232, 232);
}


/* -------------------------- */
/* footer　終わり */
/* -------------------------- */


/*------------------------------*/
/* トップに戻るボタン*/
/*------------------------------*/


.back-to-top {
  position: fixed;
  bottom: 60px;
  right:20px;

  display: none;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  color: #333;
  opacity: 0.6;

  /* 透明度をフワッと帰る演出 */
  transition: opacity 2.5s;

  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
}
